.article-content {
  width: 400px;
  display: flex;
  flex-direction: column;

  &__title {
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    width: 300px;
  }

  &__options {
    display: flex;
    flex-direction: row;

    &-time {
      display: flex;
      flex-direction: row;
      margin-top: 11px;

      &-content {
        margin-left: 5px;
        font-size: 12px;
        font-weight: 400;
        color: #9f9f9f;
      }
    }

    &-comments {
      display: flex;
      flex-direction: row;
      margin-top: 11px;
      margin-left: 31px;

      &-content {
        margin-left: 5px;
        font-size: 12px;
        font-weight: 400;
        color: #9f9f9f;
      }
    }
  }

  &__content {
    margin-top: 31px;
    color: #686868;
    font-size: 14px;
    font-weight: 400;
    width: 326px;
    height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__button {
    align-self: flex-end;
    margin-right: 40px;
    margin-top: 20px;
    width: 140px;
    height: 38px;
    background-color: #2196f3;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    border: none;
    line-height: 1px;
    position: relative;

    &-button {
      border: none;
      background-color: transparent;
    }

    &-image {
      position: absolute;
      top: 11px;
      left: 20px;
    }

    &-content {
      position: absolute;
      top: 20px;
      left: 48px;
      color: #ffffff;
    }
  }
}